<!-- Agenda -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].agenda.section | default: 'agenda' }}">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].agenda.title | default: "agenda" }}</h2>
      <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].agenda.text | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto" style="white-space: pre-line;">
      <div class="large text-muted">
        <h3 id="introduction-min-zhou-20-min">Introduction (Min Zhou, 20 min)</h3>
        <p>– Overview of hardware failures in datacenters
          – Motivation
          – Business application</p>
        <h3 id="memory-failure-prediction-qiao-yu-45-min">Memory Failure Prediction (Qiao Yu, 45 min)</h3>
        <p>– Background of memory failure
        – Hierarchical memory failure prediction
        – Conclusion and future work</p>
        <h3 id="hbm-failure-prediction-and-reliable-storage-system--zhirong-shen-45-min">HBM Failure Prediction and Reliable Storage System  (Zhirong Shen, 45 min)</h3>
        <p>– Introduce analysis of HBM errors in the field
          – Introduce HBM failure prediction framework
          – Introduce some techniques for reliable storage</p>
        <h3 id="aiops-for-hdd-and-optical-failure-prediction-jorge-cardoso-45-min">AIOps for HDD and Optical Failure Prediction (Jorge Cardoso, 45 min)</h3>
        <p>– Background. Hard drives and optical interconnects are typical hardware found datacenters.
          – Approach. Use classical and deep neural networks to predict failures.
          – Conclusion. SMART indicators and error rates are suitable predictors for failures.</p>
        <h3 id="competition-highlights-min-zhou-and-invited-participants-60-min">Competition Highlights (Min Zhou and Invited Participants, 60 min)</h3>
        <p>– Overview of the competition
          – Participant solutions
          – Open discussion and wrap-up</p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Agenda -->